body {
  font-family: "Rubik", sans-serif;
}

.bg {
  width: 100%;
  min-height: 100vh;
  background: url("./assets/img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}

.bg:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffd584;
}

.btnHover {
  transition: transform 0.5s;
}
.btnHover:hover {
  transform: scale(1.1);
}

.colorOrangish {
  color: #ffc451;
}

.bgOrangish {
  background-color: #ffc451;
}

.cursor-pointer {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffc451 inset !important;
}

.form-control:focus {
  border-color: #ffc451 !important;
  box-shadow: none;
}
.paddingTop {
  padding: 200px 0;
}
